/* Start Font*/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
/* End Font */

/* Start body */
body{
    background-color: palevioletred; 
    color: black;
    font-family: roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    
}

/* End body */

/* start Menu Primer*/
.menu-primer ul {
    background-color: #6495ED;
    border-radius: 4px;
    box-shadow: 
        0 3px 5px -1px rgb(0, 191, 249),
        0 6px 10px 0 rgb(0, 191, 249),
        0 1px 18px 0 rgb(0, 191, 249);
}

.menu-primer li {
    border-right: 2px solid #008080;
    display: inline-block;
    margin: 0 -4px;

}

.menu-primer a {
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: #ffffff;
    color: #DDA0DD;
    text-decoration: none; 
}

.menu-primer .active {
    background-color: #ADD8E6;
    color: #ffffff;
    text-decoration: none;
}
/* End Menu Primer */

/* Start Heading */
h1, h2, h3 h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* Start Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: #6495ED;
    border: 1px solid #6495ED;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}

/* End Jumbotron*/

/* Strat Main */
.main-home-one{
    float: left;
    width: 49.5%;
}
.main-home-two { 
    float: right;
    width: 49.5%;
}

.main-home-one .box-isi,
.main-home-two .box-isi{
    height: 140px; 
}

/* End Main */

/* Start Box */
.box-heading {
    background-color: #6495ED;
    border: 1px solid #DDA0DD;
    border-radius: 3px 2px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}
.box-isi {
    background-color: #ffffff;
    border: 1px solid #6495ED;
    border-top: 0;
    margin: 0;
    padding: 10px 15px;
}
/* End Box */

/* Start Testimonial */ 
.testimonial{
    border-left: 4px solid #6495ED;
    margin-left: 30px;
    padding-left: 20px;
}


/* Start Menu Sekunder*/
.menu-sekunder {
    background-color: #6495ED;
    border-bottom: 1px solid #DDA0DD;
    border-top: 1px solid #6495ED;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4{
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul{
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}

.menu-sekunder li a,
.menu-sekunder p {
    font-size: 15px; 
}
.menu-sekunder-one
.menu-sekunder-two,
.menu-sekunder-three{
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three{
    width: 30%;
}
.menu-sekunder li img {
    vertical-align: middle;
}
/* End Menu Sekunder */



/* Start Anchor / Hyperlink */
a:link,
a:visited{
    color: #6495ED;
    text-decoration: underline;
}
a:hover,
a:active{

}
/* End Acnhor / Hyperlink */

/* Start Debug */
.bg-blue {
    background-color:white;
}
.bg-red {
    background-color:black;
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.container {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Copyright */
.copyright p{
    font-size: 15px;
}




